html {
	height: 100%;
}
body,
#root {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background: rgb(52, 75, 180);
	color: #ddd;
	font-family: 'VT323', Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	@media (min-width: 600px) {
		font-size: 22px;
	}
}
#root {
	max-width: 700px;
	margin: 0 auto;
}

h2 {
	margin-top: 0;
}
h2,
h3,
h4,
h5 {
	font-weight: normal;
}

button,
textarea {
	font-family: 'VT323', Roboto, Helvetica, Arial, sans-serif;
}

a,
button {
	-webkit-tap-highlight-color: #fff;
	&:active {
		color: #fff;
		& img {
			filter: invert(100%);
			-webkit-filter: invert(100%);
		}
	}
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			color: #fff;
			& img {
				filter: invert(100%);
				-webkit-filter: invert(100%);
			}
		}
		&:active {
			color: #000;
			& img {
				filter: invert(0%);
				-webkit-filter: invert(0%);
			}
		}
	}
}

@keyframes blinkingText {
	0% {
		color: #fff;
	}
	49% {
		color: #fff;
	}
	60% {
		color: transparent;
	}
	99% {
		color: transparent;
	}
	100% {
		color: #fff;
	}
}
